footer
	height: 500px 
	background: #202121
	color: #f8f8f8

.footer__social-media
	background: #fff
	height: 100px
	width: 100%
	text-align: center
	a
		color: #333
		line-height: 80px
		font-size: 22px
		padding: 10px
		&:hover
			text-decoration: none 
			color: $primay-color
		&.logo
			font-family: $slabo
			font-weight: 900
			font-size: 30px
			padding: 20px 30px
			color: $primay-color

.footer__title
	color: #f8f8f8
	font-family: $slabo
	font-size: 22px

.footer__section
	margin-top: 60px