.navigation
	height: 120px
	@media #{$mq-xs}
		position: fixed
		left: 0
		right: 0 
		top: 0
		background: #fff
		z-index: 8

	.mobile-menuitems
		display: none
		@media #{$mq-xs}
			display: block
			float: right
			list-style-type: none
			padding: 0
			margin: 0
			line-height: 120px

		li
			display: inline-block
			margin: 0 5px

		.material-icons
			font-size: 32px
			vertical-align: -12px
			color: #333

	nav
		@media #{$mq-xs}
			position: fixed
			background: #f8f8f8
			top: 0
			left: 0
			bottom: 0
			right: 0
			z-index: 9
			opacity: 0
			transform: scale(1.1)
			visibility: hidden
			transition: all .3s ease
			padding: 0

		.closebutton
			display: none
			color: #333
			@media #{$mq-xs}
				display: block
				font-size: inherit

			i
				font-size: 40px

	ul.menu-items
		float: right
		margin-bottom: 0
		@media #{$mq-xs}
			position: fixed
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			-webkit-transform: translate(-50%, -50%)
			padding: 0
			margin: 0
		li
			float: left
			list-style: none
			position: relative
			text-align: center
			@media #{$mq-xs}
				float: none
				width: 100%
				font-size: 20px 
				padding: 10px 0

			a.item
				color: #333
				padding: 3px 0px
				margin: 0 15px
				text-decoration: none
				line-height: 120px
				border-bottom: 1px solid transparent
				transition: all .4s ease
				@media #{$mq-xs}
					padding: 0
					line-height: 0
				&:hover, &.active:hover
					color: $primay-color
				&.active
					border-bottom: 1px solid $primay-color
					color: $primay-color
				i
					font-size: 22px
					vertical-align: -6px

				&.search-trigger 
					@media #{$mq-xs}
						display: none

	a.logo
		font-family: $slabo
		font-size: 32px
		color: #333
		text-decoration: none
		line-height: 120px
		float: left
		position: relative
		width: 200px
		span
			font-family: "lato"
			position: absolute
			bottom: -23px
			font-size: 12px
			left: 55px
			font-weight: 500
			color: #a8a8a8

.mobilemenu-open nav
	opacity: 0.95
	transform: scale(1)
	visibility: visible

