nav
	width: 100%
	height: 80px
	.container
		height: 100%
		ul.menu-items
			float: right
			li
				float: left
				list-style: none
				position: relative
				text-align: center
			a.item
				color: #333
				padding: 19px 15px
				text-decoration: none
				line-height: 80px
				&:hover, &.active:hover
					color: $primay-color
				&.active
					color: $primay-color
					border-bottom: 3px solid $primay-color
				i
					font-size: 22px
		a.logo
			font-family: $slabo
			font-size: 32px
			color: #333
			text-decoration: none
			line-height: 80px
			float: left
			position: relative
			width: 200px
			span
				font-family: "lato"
				position: absolute
				bottom: -23px
				font-size: 12px
				left: 55px
				font-weight: 500
				color: #a8a8a8