<aside class="col-md-4 sidebar">
	<section class="sidebar__section">
		<h1 class="sidebar__title">Edwin Mijnsbergen</h1>
		<p>Levert en vult websites. Schrijft. Vertelt verhalen. Adviseert. Beheert informatie.</p>
	</section>
	<section class="sidebar__section">
		<h1 class="sidebar__title">Mijns op social media</h1>
		<a class="btn btn--facebook"><i class="fa fa-facebook"></i> facebook</a>
		<a class="btn btn--twitter"><i class="fa fa-twitter"></i> twitter</a>
		<a class="btn btn--linkedin"><i class="fa fa-linkedin"></i> linkedin</a>
		<a class="btn btn--google-plus"><i class="fa fa-google-plus"></i> google plus</a>
	</section>
	<section class="sidebar__section">
		<h1 class="sidebar__title">Populair</h1>
		<article class="sidebar__article clearfix">
			<div class="sidebar__image" style="background-image: url(/assets/images/iceland2.jpg)"></div>
			<h1 class="sidebar__title">Take a Tour of Iceland’s Incredible Nature</h1>
			<span class="sidebar__date">10 december 2015</span>
		</article>
		<article class="sidebar__article clearfix">
			<div class="sidebar__image" style="background-image: url(/assets/images/iceland1.jpg)"></div>
			<h1 class="sidebar__title">Take a Tour of Iceland’s Incredible Nature</h1>
			<span class="sidebar__date">10 december 2015</span>
		</article>
		<article class="sidebar__article clearfix">
			<div class="sidebar__image" style="background-image: url(/assets/images/iceland4.jpg)"></div>
			<h1 class="sidebar__title">Party Inside a Glacier at Iceland’s Secret Solstice Festival</h1>
			<span class="sidebar__date">10 december 2015</span>
		</article>
		<article class="sidebar__article clearfix">
			<div class="sidebar__image" style="background-image: url(/assets/images/iceland3.jpg)"></div>
			<h1 class="sidebar__title">Party Inside a Glacier at Iceland’s Secret Solstice Festival</h1>
			<span class="sidebar__date">10 december 2015</span>
		</article>
		<a class="btn" href="#">Bekijk alle berichten uit archief</a>
	</section>	

	
</aside>